# Shown Name <shown_email> <committed_email>
Julianne Swinoga <julianneswinoga@gmail.com> <cameronswinoga@gmail.com>
Andre Stefanov <mail@andrestefanov.de> <andre.stefanov@jambit.com>
Cameron Tetford <cameron.tetford+github@gmail.com> <cameron@tetford.me>
Christian Kardach <christian.kardach@gmail.com> <christian.kardach@gmail.com>
Clutchplate <lutz@stmuc.com> <lutz@stmuc.com>
Fabian Uehleke <fabian@openastrotech.com> <intercipere@users.noreply.github.com>
Fabian Uehleke <fabian@openastrotech.com> <61112622+OpenAstroTech@users.noreply.github.com>
Fabian Uehleke <fabian@openastrotech.com> <fabian@openastrotech.com>
jwellman80 <jwellman@gmail.com> <jwellman@gmail.com>
jwellman80 <jwellman@gmail.com> <jwellman80@users.noreply.github.com>

