name: PlatformIO CI

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: BOARD=${{ matrix.board }}
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        board: [ mega2560,
                 mksgenlv21,
                 mksgenlv2,
                 mksgenlv1,
                 esp32 ]

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python -m pip install -r requirements_matrix_build.txt
      - name: Run PlatformIO
        run: python matrix_build.py -b ${{ matrix.board }}
